{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-xs-12 page-container" ng-app="evecompare" ng-controller="mainController">
        <h1>Eve Compare</h1>
        <div class="sk-chasing-dots" ng-show="loading === true" ng-cloak>
            <div class="sk-child sk-dot1"></div>
            <div class="sk-child sk-dot2"></div>
        </div>
        <div class="row" ng-show="loading === false" ng-cloak>
            <form ng-submit="submitMarketForm()" name="itemForm">
                <div class="col-sm-6">
                    <label for="region">
                        Select A Region
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                           <i class="fa" ng-class="{ 'fa-check': search.region !== null, 'fa-times': search.region === null}"></i>
                        </span>
                        <select required class="form-control" ng-model="search.region" ng-options="region.id as region.name for region in ref_data.regions"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="region">
                        Select an Item Type
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                           <i class="fa" ng-class="{ 'fa-check': search.type !== null, 'fa-times': search.type === null}"></i>
                        </span>
                        <select required class="form-control" ng-model="search.type" ng-options="item.id as item.name for item in ref_data.types"></select>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button ng-disabled="itemForm.$valid === false" class="btn btn-primary btn-block" type="submit">Search</button>
                </div>
            </form>

           <nvd3 ng-if="true" options="options" data="data"></nvd3>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/app.js"></script>
    <script src="/js/controller/mainController.js"></script>
{% endblock %}

